.catalog {
   background-color: #f5f6f8;
   &-block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   &-card {
      display: block;
      max-width: 570px;
      position: relative;
      box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
      &__image {
         display: block;
      }
      &__buttons {
         display: flex;
         position: absolute;
         bottom: 0;
         right: 0;
      }
      &__tag {
         position: absolute;
         top: 10px;
         left: 10px;
         font-size: 12px;
         @include bold;
         text-transform: uppercase;
         background-color: rgba($primary, $alpha: 0.6);
         padding: 10px;
         color: #ffff;
         cursor: pointer;
      }
   }
   &__link {
      margin-top: 60px;
      text-align: center;
   }
   &__link-more {
      display: inline-block;
      text-decoration: none;
   }
   &__description {
      display: block;
      margin-top: 20px;
   }
}
@media (max-width: 1199px) {
   .catalog {
      &-block {
         justify-content: center;
      }
      &-card {
      max-width: 470px;
      }
   }
}