.hero {
   background: #f1f1f1 url(../img/hero/hero-bg.jpg) no-repeat center top 80px;
   background-size: contain;
   padding-top: 180px;
   padding-bottom: 270px;
   &__title {
      margin-bottom: 40px;  
      max-width: 282px;
      font-size: 30px;
   }
   &__subtitle {
      display: block;
      margin-bottom: 67px;
      font-size: 30px;
      @include bold;
   }
   &__button {
      // display: block;
   }
}
